---
title: Main page
layout: main
groups:
  - navbar
navbar_link: <span class="glyphicon glyphicon-home"></span>&nbsp;Main page
---
{% if site.posts.size == 0 %}
  <p class="h3">Sorry, no posts have been added yet.</p>
  <p class="text-muted">But I've made quite a few <a href="{{ site.baseurl }}/plots.html">plots</a> which you might want to check out.</p>
  <hr/>
{% else %}
  {% for post in paginator.posts %}
    <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
    <p>{{ post.excerpt }}</p>
    <p class="text-muted" style="text-align: right;"><span class="glyphicon glyphicon-time"></span> Posted on {{ post.date | date_to_long_string }}</p>
    <hr/>
  {% endfor %}
  <div class="text-center">
    {% include common/pagination.html %}
  </div>
{% endif %}
