html, body {
  height: 100%;
  width: 100%;
}
.top-level-footer-wrapper {
  height: 100%;
  width: 100%;
  display: table;
}
.footer-wrapper-collapse {
  display: table-row;
  height: 1px;
}
.footer-wrapper-expand {
  display: table-row;
  height: auto;
}
footer {
  margin-top: 20px;
  padding: 15px 0 15px;
  border-width: 1px 0;
  border-style: solid;
}
