/* Utility classes to prevent blocks from expanding unreasonably. */
.wide-enough {
  max-width: 400px;
}
.wider {
  max-width: 600px;
}
/* Links become blue inside of <hN> elements otherwise. */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
/* Link captions might become too close to badges on the sidebar. */
span.badge {
  margin-left: .5em;
}
/* Add horizontal scrollbars to <pre>s and don't wrap the code inside. */
pre {
  overflow-x: auto;
}
pre code {
  white-space: pre;
  word-wrap: normal;
}
/* Lighter background for <pre> and <code> elements. */
pre {
  font-size: inherit;
  background-color: #fbfbfb;
}
.highlight {
  background-color: #fbfbfb !important;
}
code {
  color: inherit;
  background-color: #fbfbfb;
  font-size: inherit;
}
/* Prevent <code> elements from standing out from alerts. */
.alert code {
  padding: 0;
  background-color: inherit;
}
