<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }} - Sorting algorithms - Egor Tensin</title>

    {% include bootstrap_css.html %}

    <link rel="stylesheet" href="{{ site.baseurl }}/css/footer.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/misc.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

    {% if page.custom_css %}
      {% for css in page.custom_css %}
        <link rel="stylesheet" href="{{ site.baseurl }}/css/{{ css }}"/>
      {% endfor %}
    {% endif %}

    {% include ie_compat.html %}
  </head>
  <body>
    <script src="{{ site.baseurl }}/js/common.js"></script>
    <div class="top-level-footer-wrapper">
      <div class="footer-wrapper-collapse">
        {% include navbar.html %}
      </div>
      <div class="footer-wrapper-expand">
        <div class="container">
