<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/footer.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/plots.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.js"></script>
    <![endif]-->
  </head>
  <body>
    <script src="{{ site.baseurl }}/js/common.js"></script>

    <div class="top-level-footer-wrapper">
      <div class="footer-wrapper-row">
        {% include navbar.html %}
      </div>
      <div class="footer-wrapper-row footer-wrapper-row-auto-height">
        <div class="container">
