<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }} - {{ site.project.name }} - {{ site.personal_info.name }}</title>

    {% include common/bootstrap_css.html %}

    <link rel="stylesheet" href="{{ site.baseurl }}/css/common/footer.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/common/misc.css">

    {% if page.custom_css %}
      {% for css in page.custom_css %}
        <link rel="stylesheet" href="{{ site.baseurl }}/css/{{ css }}"/>
      {% endfor %}
    {% endif %}

    {% include common/ie_compat.html %}
  </head>
  <body>
    <div class="top-level-footer-wrapper">
      <div class="footer-wrapper-collapse">
        {% include common/navbar.html %}
      </div>
      <div class="footer-wrapper-expand">
        <div class="container">
