{% if site.minified_externals %}
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/{{ site.html5shiv_version }}/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/{{ site.respond_version }}/respond.min.js"></script>
  <![endif]-->
{% else %}
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/{{ site.html5shiv_version }}/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/respond/{{ site.respond_version }}/respond.js"></script>
  <![endif]-->
{% endif %}
