{% if site.posts.size != 0 %}
<ul class="pagination">
  {% if paginator.previous_page %}
    <li><a href="{{ site.baseurl }}{{ paginator.previous_page_path }}"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Prev</a></li>
  {% else %}
    <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Prev</a></li>
  {% endif %}
  {% for page_number in (1..paginator.total_pages) %}
    {% if page_number == paginator.page %}
      <li class="active"><a href="#">{{ page_number }}</a></li>
    {% elsif page_number == 1 %}
      <li><a href="{{ site.baseurl }}/posts/">{{ page_number }}</a></li>
    {% else %}
      <li><a href="{{ site.baseurl }}{{ site.paginate_path | replace: ':num', page_number }}">{{ page_number }}</a></li>
    {% endif %}
  {% endfor %}
  {% if paginator.next_page %}
    <li><a href="{{ site.baseurl }}{{ paginator.next_page_path }}">Next&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></li>
  {% else %}
    <li class="disabled"><a href="#">Next&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></li>
  {% endif %}
</ul>
{% endif %}
