{% if site.posts.size != 0 %}
<ul class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <li><a href="{{ site.baseurl }}/"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Prev</a></li>
    {% else %}
      <li><a href="{{ site.baseurl }}/page{{ paginator.previous_page }}"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Prev</a></li>
    {% endif %}
  {% else %}
    <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Prev</a></li>
  {% endif %}
  {% if paginator.page == 1 %}
    <li class="active"><a href="{{ site.baseurl }}/">1</a></li>
  {% else %}
    <li><a href="{{ site.baseurl }}/">1</a></li>
  {% endif %}
  {% for count in (2..paginator.total_pages) %}
    {% if count == paginator.page %}
      <li class="active"><a href="{{ site.baseurl }}/page{{ count }}">{{ count }}</a></li>
    {% else %}
      <li><a href="{{ site.baseurl }}/page{{ count }}">{{ count }}</a></li>
    {% endif %}
  {% endfor %}
  {% if paginator.next_page %}
    <li><a href="{{ site.baseurl }}/page{{ paginator.next_page }}">Next&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></li>
  {% else %}
    <li class="disabled"><a href="#">Next&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></li>
  {% endif %}
</ul>
{% endif %}
